:root
{
    --green-dark-1: #2F9304;
    --green-1: #3FC207;
    --green-3: #62b33f;
    --green-2: #60e138;
    --green-blue-1: #8EE787;
    --green-blue-2: #B6FAC7;
    --green-ultra-light: #E5FFD7;
    --brown: #6c584c;
    --brown-dark: #352821;
    --blue-ocean: #335c67;
}

/* ------ GENERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body {
    background-color: var(--green-ultra-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    color: var(--green-dark-1);
}

.btn-petshop {
    background-color: var(--green-1);
    color: white;
}

.btn-petshop:hover,
.btn-petshop:active {
    background-color: transparent;
    border-color: var(--green-1);
    color: var(--green-1);
}

/* ------ NAVBAR ------ */

.navbar {
    background-color: var(--green-2);
    padding: 1rem 2rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-list' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/> </svg>");
}

.navbar .container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-brand .logo {
    width: 65px;
}

.navbar-toggler-icon {
    font-size: 2rem;
}

.navbar-nav {
    gap: 0.3rem;
    padding: 1rem 0rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-main {
    --bs-navbar-nav-link-padding-x: 2.5rem;
    padding: 1rem 2.5rem;
    border: 0.5px solid var(--green-1);
    border-radius: 5%;
    font-size: 1.8rem;
    color: white;
}

.nav-main:hover {
    background-color: var(--green-1);
    color: var(--green-dark-1);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--green-dark-1);
}

.nav-sec {
    background-color: var(--green-1);
    border-radius: 50%;
    padding: 1.5rem;
    --bs-navbar-nav-link-padding-x: 1.5rem;
    color: white;
}

.nav-sec:hover {
    color: var(--green-dark-1);
}

/* ------ MAIN ------ */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 90%;
    margin: 2rem 0rem;
    padding: 2rem;
}

/* ------ HERO ------ */

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-img-overlay h1 {
    color: var(--green-dark-1);
    font-size: 3.6rem;
    font-weight: bold;
}

.card-img-overlay .card-text {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
}

.hero img,
.card-about img {
    width: 100%;
    height: auto;
}

/* ------ ABOUT ------ */

.card-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mv-img,
.mv-main {
    width: 100%;
}

.mv-main {
    margin-top: 1.5rem;
}

.mv {
    border: 2px solid var(--blue-ocean);
    padding: 2rem 1rem;
    margin-top: 0.5rem;
}

.mv-buttons a {
    padding: 1rem 3rem;
}

/* ------ FOOTER ------ */

footer {
    background-color: var(--green-2);
    border-top: 2px solid var(--blue-ocean);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    color: white;
}

footer a {
    background-color: var(--green-1);
    border-radius: 50%;
    padding: 1rem;
    color: white;
}

footer a:hover {
    color: var(--green-dark-1);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mv-img,
    .mv-main {
        width: 47.5%;
    }
    .mv-main {
        margin-top: 0rem;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }
