:root
{
    --green-dark-1: #2F9304;
    --green-1: #3FC207;
    --green-3: #62b33f;
    --green-2: #60e138;
    --green-blue-1: #8EE787;
    --green-blue-2: #B6FAC7;
    --green-ultra-light: #E5FFD7;
    --brown: #6c584c;
    --brown-dark: #352821;
    --blue-ocean: #335c67;
}

/* ------ GENERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body {
    background-color: var(--green-ultra-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    color: var(--green-dark-1);
}

.btn-petshop {
    background-color: var(--green-1);
    color: white;
}

.btn-petshop:hover,
.btn-petshop:active {
    background-color: transparent;
    border-color: var(--green-1);
    color: var(--green-1);
}

/* ------ NAVBAR ------ */

.navbar {
    background-color: var(--green-2);
    padding: 1rem 2rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='white' class='bi bi-list' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/> </svg>");
}

.navbar .container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-brand .logo {
    width: 65px;
}

.navbar-toggler-icon {
    font-size: 2rem;
}

.navbar-nav {
    gap: 0.3rem;
    padding: 1rem 0rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-main {
    --bs-navbar-nav-link-padding-x: 2.5rem;
    padding: 1rem 2.5rem;
    border: 0.5px solid var(--green-1);
    border-radius: 5%;
    font-size: 1.8rem;
    color: white;
}

.nav-main:hover {
    background-color: var(--green-1);
    color: var(--green-dark-1);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--green-dark-1);
}

.nav-sec {
    background-color: var(--green-1);
    border-radius: 50%;
    padding: 1.5rem;
    --bs-navbar-nav-link-padding-x: 1.5rem;
    color: white;
}

.nav-sec:hover {
    color: var(--green-dark-1);
}

/* ------ MAIN ------ */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5rem;
}

.section {
    width: 90%;
    margin: 2.5rem 0rem;
    padding: 2rem;
}

.section h1 {
    margin-bottom: 2rem;
}

/* ------ HERO ------ */

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-img-overlay h1 {
    color: var(--green-dark-1);
    font-size: 3.6rem;
    font-weight: bold;
}

.card-img-overlay .card-text {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
}

.hero img,
.card-about img {
    width: 100%;
    height: auto;
}

/* ------ ABOUT ------ */

.card-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.mv-img,
.mv-main {
    width: 100%;
}

.mv-main {
    margin-top: 1.5rem;
}

.mv {
    border: 2px solid var(--green-1);
    border-radius: 1rem;
    padding: 2rem 1rem;
    margin-top: 0.5rem;
}

.mv-buttons a {
    padding: 1rem 3rem;
}

.box-green {
    -webkit-box-shadow: 0px 0px 30px 15px var(--green-2);
    -moz-box-shadow: 0px 0px 30px 15px var(--green-2);
    box-shadow: 0px 0px 30px 15px var(--green-2);
}

/* ------ PRODUCTS ------ */

.carousel p,
.carousel h3 {
    color: var(--green-dark-1);
}

.carousel-caption {
    background-color: #ffffffc9;
    --bs-bg-opacity: 0.5;
    padding: 2rem 1rem;
}

.product img {
    width: 50vw;
    height: 42vh;
}

.bg-product {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--green-blue-2);
    border-radius: 1rem;
    padding: 2.5rem;
}

.bg-product img {
    -webkit-box-shadow: 0px 0px 30px 15px var(--green-1);
    -moz-box-shadow: 0px 0px 30px 15px var(--green-1);
    box-shadow: 0px 0px 30px 15px var(--green-1);
}

/* ------ FOOTER ------ */

footer {
    background-color: var(--green-2);
    border-top: 2px solid var(--blue-ocean);
    padding: 3.5rem 2rem;
    font-size: 1.5rem;
    color: white;
}

footer a {
    background-color: var(--green-1);
    border-radius: 50%;
    padding: 1rem;
    color: white;
}

footer a:hover {
    color: var(--green-dark-1);
}

/* ------ TOYS ------ */

.section.toys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filter {
    width: 60%;
}

.box-prod {
    -webkit-box-shadow: 0px 0px 10px 5px var(--green-blue-2);
    -moz-box-shadow: 0px 0px 10px 5px var(--green-blue-2);
    box-shadow: 0px 0px 10px 5px var(--green-blue-2);
}

.container-cards {
    width: 90%;
}

.card-petshop img {
    width: 20rem;
    height: 20rem;
}

.card-petshop .product_buttons {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    visibility: hidden;

    padding: 0.5rem 0;
    margin-bottom: 0;
}

.card-petshop ul li {
    list-style-type: none;
}

.card-petshop ul li button {
    color: white;
    background-color: var(--green-1);
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
}

.card-petshop:hover button {
    visibility: visible;
}

.card-petshop ul li button:hover {
    color: var(--green-1);
    background-color: white;
}

.last-units {
    width: 47.5%;
    background-color: var(--green-1);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--brown-dark);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0rem;
    margin-bottom: 0.25rem;
}

/* ------ MEDIA ------ */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .product img {
        width: 38vw;
        height: 35vh;
    }
    .bg-product {
        padding: 1rem;
    }
    .filter {
        width: 47%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mv-img,
    .mv-main {
        width: 47.5%;
    }
    .mv-main {
        margin-top: 0rem;
    }
    .product img {
        width: 30vw;
        height: 30vh;
    }
    .bg-product {
        padding: 2rem;
    }
    .filters {
        justify-content: space-evenly;
    }
    .filter {
        width: 40%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .product img {
        width: 27vw;
        height: 27vh;
    }
    .carousel-caption {
        bottom: 5rem;
    }
    .bg-product {
        padding: 3rem;
    }
    .filter {
        width: 30%;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .bg-product {
        padding: 4rem;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .product img {
        width: 28vw;
        height: 28vh;
    }
    .filter {
        width: 25%;
    }
 }
